<section class="container">
  <div *ngFor="let task of tasks">
    <div class="todo-item">
      <input type="checkbox" [id]="task.id" (change)="toggleCompletion(task)" />

      <div class="divInfo">
        <p class="completed">
          Status: {{ task.completed ? "Concluída" : "Não Concluída" }}
        </p>

        <label>Titulo: {{ task.title }}</label>
        <label>Descrição: {{ task.description }}</label>
      </div>

      <button (click)="deleteTask(task.id)" class="button_delete">
        <span class="delete-icon material-icons">delete</span>
      </button>
    </div>
  </div>
</section>
